<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Matthew Waldron</title>
    <meta
      data-i18n="description"
      data-i18n-attr="content"
      name="description"
      content="Matthew Waldron, Senior Developer"
    />
    <meta
      data-i18n="keywords"
      data-i18n-attr="content"
      name="keywords"
      content="full stack, development, senior"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon-16x16.png"
    />
    <link
      rel="manifest"
      href="/manifest.json"
    />
    <link
      rel="mask-icon"
      href="/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <meta
      name="msapplication-TileColor"
      content="#da532c"
    />
    <meta
      name="theme-color"
      content="#000"
    />
  </head>
  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker && navigator.serviceWorker.register('./sw.js');
      });
    }
  </script>
  <body>
    <main class="container-mobile">
      <div class="m-square-a">
        <h1>Matt</h1>
      </div>
      <a
        class="m-square-b"
        href="https://resume.waldronmatthew.com"
        target="_blank"
        rel="noopener noreferrer"
        ><p data-i18n="resume">Resume</p></a
      >
      <div class="m-square-c">
        <p>Waldron</p>
      </div>
      <div class="m-square-d logo">
        <%= require('html-loader!./partials/logo.html').default %>
      </div>
      <div class="m-square-e">
        <small>© <span class="footer-copyright"></span> Matt Waldron</small>
      </div>
      <div class="m-square-f"></div>
      <button
        class="m-square-g theme-toggle"
        aria-label="auto"
        aria-live="polite"
      >
        <span class="toggle-parent">
          <svg
            class="sun-and-moon"
            aria-hidden="true"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <%= require('html-loader!./partials/moon-sun-m.html').default %> <%=
            require('html-loader!./partials/sun-beams.html').default %>
          </svg>
        </span>
      </button>
    </main>

    <main class="container-desktop">
      <div class="d-square-1 skip-class">
        <h1>Matt</h1>
      </div>
      <div class="d-square-2 skip-class">
        <p>Waldron</p>
      </div>
      <div class="d-square-3"></div>
      <div class="d-square-4"></div>
      <div class="d-square-5 skip-class">
        <p data-i18n="senior">senior</p>
      </div>
      <div class="d-square-6"></div>
      <div class="d-square-7"></div>
      <button class="d-square-8 language-toggle skip-class">
        <small data-i18n="language">Español</small>
      </button>
      <div class="d-square-9"></div>
      <div class="d-square-10"></div>
      <a
        class="d-square-11 skip-class"
        href="https://cv-resume.waldronmatthew.com"
        target="_blank"
        rel="noopener noreferrer"
      >
        <p data-i18n="cv">Curriculum vitae</p>
      </a>
      <div class="d-square-12"></div>
      <a
        class="d-square-13 skip-class"
        href="mailto:contact@waldronmatthew.com"
        ><p data-i18n="contact">Contact</p></a
      >
      <div class="d-square-14"></div>
      <div class="d-square-15 skip-class">
        <p data-i18n="developer">developer</p>
      </div>
      <div class="d-square-16"></div>
      <button
        class="d-square-17 animation-toggle skip-class"
        aria-label="auto"
        aria-live="polite"
      >
        <%= require('html-loader!./partials/lightbulb.html').default %>
      </button>
      <a
        class="d-square-18 skip-class"
        href="https://www.linkedin.com/in/waldronmatt"
        target="_blank"
        rel="noopener noreferrer"
        ><p>Linkedin</p>
      </a>
      <div class="d-square-19"></div>
      <a
        class="d-square-20 skip-class"
        href="https://resume.waldronmatthew.com"
        target="_blank"
        rel="noopener noreferrer"
      >
        <p data-i18n="resume">Resume</p>
      </a>
      <div class="d-square-21"></div>
      <a
        class="d-square-22 skip-class"
        href="https://github.com/waldronmatt"
        target="_blank"
        rel="noopener noreferrer"
        ><p>GitHub</p></a
      >
      <div class="d-square-23"></div>
      <div class="d-square-24 skip-class">
        <small>© <span class="footer-copyright"></span> Matt Waldron</small>
      </div>
      <div class="d-square-25 logo skip-class">
        <%= require('html-loader!./partials/logo.html').default %>
      </div>
      <div class="d-square-26"></div>
      <button
        class="d-square-27 theme-toggle skip-class"
        aria-label="auto"
        aria-live="polite"
      >
        <span class="toggle-parent">
          <svg
            class="sun-and-moon"
            aria-hidden="true"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <%= require('html-loader!./partials/moon-sun-d.html').default %> <%=
            require('html-loader!./partials/sun-beams.html').default %>
          </svg>
        </span>
      </button>
    </main>
  </body>
</html>
