// Typewriter animation
#type-container {
  display: flex;
  justify-content: center;
}

.typewriter {
  h2 {
    color: $black;
    overflow: hidden;
    border-right: 0.15em solid $light-blue;
    white-space: nowrap;
    margin: 0 auto;

    @include animation(typing 5s steps(30, end), blink-caret 0.5s step-end infinite);
  }
}
