.btn-container {
  @include center;

  margin: $default-margin * 2 0;

  a,
  button {
    @include link-important;

    @include transition(all 0.35s ease);

    background-color: $white;
    border: solid 4px $dark-blue;
    color: $dark-blue;
    cursor: pointer;
    font-family: inherit;
    padding: 0.8em 1.2em;

    @include on-event {
      background-color: $dark-blue;
      color: $white;
      text-decoration: none;
    }
  }
}
