/* stylelint-disable max-nesting-depth */

.gallery {
  @include flex-center;

  margin: $default-margin 0;
}

.img-link {
  // positions text properly on picture tiles
  @include transform(translate3d(0, 0, 0));

  /*
    Reduce layout shifting (cls, a.k.a - content shifting) by setting a specific height https://web.dev/optimize-cls/
    If the content ends up making the element taller, it can still do that, which isn’t great, but it’s slightly better than doing nothing.
    https://css-tricks.com/content-jumping-avoid/#fixing-with-min-height
  */
  min-height: 100px;

  @include on-event {
    img {
      @include transition(ease-in-out 0.5s);

      opacity: 0.5;
    }

    .tile {
      @include transition(ease-in-out 0.5s);

      background-color: rgba(0, 0, 0, 1);
    }
  }

  img {
    @include transition(ease-in-out 0.5s);

    /*
      Vertically center content w/ variable height in div
      https://stackoverflow.com/questions/59309/how-to-vertically-center-content-with-variable-height-within-a-div
    */
    max-height: 250px;
    object-fit: cover;
    position: relative;

    // move the inner div's top border to the half height of the outer div
    top: 50%;

    // move the inner div up by half its height
    transform: translateY(-50%);
    width: 100%;
  }

  .tile {
    @include transition(ease-in-out 0.5s);

    background-color: rgba(0, 0, 0, 0.7);
    color: $white;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);

    p {
      letter-spacing: $default-letter-spacing;
      padding: 0.25em;
      text-align: center;
      word-break: initial;

      @include md {
        padding: 0.5em;
      }
    }
  }
}

// default width for pictures
.default-width {
  width: 100%;

  @include bp-md { width: 50%; }

  @include bp-lg { width: 33.3%; }

  @include bp-xl { width: 25%; }
}
