/* stylelint-disable max-nesting-depth */

.link-container {
  @include grid-center;

  margin: $default-margin 0;

  @include sm {
    @include flex-center;
  }

  // we need parent so the link effect occurs on target
  .link {
    @include transition(all 0.35s ease);

    margin: $default-margin;
    text-align: center;

    @include on-event {
      @include transition(all 0.35s ease);

      background: #ff0;

      ::after {
        @include transition(width 0.35s);

        width: 50%;
      }
    }

    a {
      @include link-important;
      @include transition(all 0.35s ease);

      padding-bottom: 0.8em;
    }

    a::after {
      @include transition(all 0.35s ease);

      border-bottom: solid 0.2em;
      border-color: $dark-blue;
      content: '';
      display: block;
      height: $default-letter-spacing;
      width: 100%;
    }
  }
}
