.link-container {
  @include grid-center;

  @include sm {
    @include flex-center;
  }

  margin: $default-margin 0;

  // we need parent so the link effect occurs on target
  .link {
    margin: $default-margin;
    text-align: center;

    @include transition(all 0.35s ease);

    a {
      padding-bottom: 0.8em;

      @include link-important;
      @include transition(all 0.35s ease);
    }

    a::after {
      content: '';
      display: block;
      width: 100%;
      height: $default-letter-spacing;
      border-bottom: solid 0.2em;
      border-color: $dark-blue;

      @include transition(all 0.35s ease);
    }

    @include on-event {
      background: #ff0;

      @include transition(all 0.35s ease);

      ::after {
        width: 50%;

        @include transition(width 0.35s);
      }
    }
  }
}
