/* stylelint-disable selector-no-qualifying-type */
:root {
  --color-bg: #000;
  --color-fg: #fff;
  --color-white: #fff;
  --color-black: #000;
  --color-gray: #aeaeae;
  --color-red: #e57b62;
  --color-blue: #1a3263;
  --color-yellow: #f6c324;
  --border-size: 3px;
}

html[data-theme='light'] {
  --color-bg: #fff;
  --color-fg: #000;
}

html[data-theme='dark'] {
  --color-bg: #000;
  --color-fg: #fff;
}

html {
  // set up a decent box model on the root element
  box-sizing: border-box;

  body {
    font-family: Tajawal, Arial, Helvetica, sans-serif;
    line-height: 2.2;
    word-break: break-word;
  }

  .container-mobile {
    h1 {
      font-size: 1.5rem;
      margin: 0;
    }

    p {
      font-size: 1rem;
    }

    small {
      font-size: 0.8rem;
      line-height: 1.75;
    }
  }

  .container-desktop {
    h1 {
      margin: 0;
    }

    h1,
    p {
      font-size: 1rem;
    }

    small {
      font-size: 0.8rem;
      line-height: 1.75;
    }
  }
}
