html {
  // set up a decent box model on the root element
  box-sizing: border-box;

  body {
    font-family: Tajawal, Arial, Helvetica, sans-serif;
    line-height: 2.2;
    word-break: break-word;
  }

  h1 {
    font-size: 1.5rem;
    margin: 0;
  }

  h2 {
    font-size: 1.33rem;
  }

  p {
    font-size: 1.25rem;
  }

  small {
    font-size: 0.8rem;
    line-height: 1.75;
  }
}
