@keyframes color-change {
  0% {
    background-color: none;
  }

  25% {
    background-color: var(--color-blue);
  }

  50% {
    background-color: var(--color-red);
  }

  75% {
    background-color: var(--color-yellow);
  }

  100% {
    background-color: none;
  }
}
