html {
  // set up a decent box model on the root element
  box-sizing: border-box;
}

body {
  font-family: $font-type;
  line-height: $default-line-height;
  margin: $default-margin;
  word-break: break-word;
}

main {
  @include center;

  margin: $default-margin 0;
}

section {
  margin: $default-margin 0;

  @include md {
    @include left-adjusted-center;

    width: 700px;
  }
}
