h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

// bullet alignment
ul {
  margin-left: $default-margin;
}

// make text a little bigger
p,
li {
  font-size: $default-font-size;
}

// basic styling for links
a {
  color: $light-blue;

  @include on-event {
    color: $dark-blue;
  }
}

button {
  font-size: $default-font-size;
}
