/* stylelint-disable */

// Grande composizione A con nero, rosso, grigio, giallo e blu, 1919-1920
// Piet Mondrian

$gray: #c0c0c0;
$red: #ff0000;
$blue: #0000ff;
$yellow: #ffff00;

body {
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(60, 1fr);
  grid-template-rows: repeat(60, 1fr);
}

[class^="square"] {
  display: inline-grid;
  place-content: center;
  border: 3px solid $black;
  padding: 0.5em;
  text-align: center;
  letter-spacing: $default-letter-spacing;
}

.square {
  &-1 {
    color: $white;
    border-top: none;
    border-left: none;
    background-color: $black;
    grid-column: 1 / 7;
    grid-row: 1 / 15;
    h2 {
      writing-mode: vertical-lr;
      text-orientation: upright;
    }
  }
  &-2 {
    border-top: none;
    background-color: $gray;
    grid-column: 7 / 25;
    grid-row: 1 / 5;
  }
  &-3 {
    border-top: none;
    grid-column: 25 / 37;
    grid-row: 1 / 10;
  }
  &-4 {
    border-top: none;

    grid-column: 37 / 49;
    grid-row: 1 / 10;
  }
  &-5 {
    border-top: none;
    border-right: none;
    background-color: $yellow;
    grid-column: 49 / 61;
    grid-row: 1 / 15;
  }
  &-6 {
    grid-column: 7 / 15;
    grid-row: 5 / 15;
  }
  &-7 {
    grid-column: 15 / 25;
    grid-row: 5 / 15;
  }
  &-8 {
    grid-column: 25 / 37;
    grid-row: 10 / 15;
  }
  &-9 {
    grid-column: 37 / 49;
    grid-row: 10 / 15;
  }
  &-10 {
    border-left: none;
    grid-column: 1 / 7;
    grid-row: 15 / 36;
  }
  &-11 {
    color: $white;
    background-color: $blue;
    grid-column: 7 / 25;
    grid-row: 15 / 26;

    text-decoration: none;

    h3 {
      border-bottom: 3px solid $white;
      padding-bottom: 0.25em;
    }

    @include on-event {
      background-color: $black;
      color: $white;
    }
  }
  &-12 {
    grid-column: 25 / 37;
    grid-row: 15 / 26;
  }
  &-13 {
    color: $black;
    background-color: $gray;
    grid-column: 37 / 49;
    grid-row: 15 / 26;

    text-decoration: none;

    h3 {
      border-bottom: 3px solid $black;
      padding-bottom: 0.25em;
    }

    @include on-event {
      background-color: $red;
      color: $white;

      h3 {
        border-bottom: 3px solid $white;
      }
    }
  }
  &-14 {
    grid-column: 49 / 55;
    grid-row: 15 / 46;
  }
  &-15 {
    border-right: none;
    grid-column: 55 / 61;
    grid-row: 15 / 46;
    h2 {
      writing-mode: vertical-rl;
      text-orientation: upright;
    }
  }
  &-16 {
    grid-column: 7 / 25;
    grid-row: 26 / 36;
  }
  &-17 {
    color: $black;
    grid-column: 25 / 37;
    grid-row: 26 / 36;
    background-color: $yellow;
    text-decoration: none;

    @include on-event {
      background-color: $blue;
      color: $white;

      h1 {
        border-bottom: 3px solid $white;
      }
    }

    h1 {
      margin: 0 auto;
      border-bottom: 3px solid $black;
      padding-bottom: 0.25em;
    }
  }
  &-18 {
    color: $white;
    background-color: $black;
    grid-column: 37 / 49;
    grid-row: 26 / 46;

    text-decoration: none;

    @include on-event {
      background-color: $blue;
      color: $white;
    }

    h3 {
      writing-mode: vertical-rl;
      text-orientation: upright;
      border-bottom: 3px solid white;
      padding-bottom: 0.5em;
    }
  }
  &-19 {
    border-left: none;

    grid-column: 1 / 15;
    grid-row: 36 / 51;
  }
  &-20 {
    color: $white;
    background-color: $red;
    grid-column: 15 / 25;
    grid-row: 36 / 55;

    text-decoration: none;

    @include on-event {
      background-color: $gray;
      color: $black;

      h3 {
        border-bottom: 3px solid $black;
      }
    }

    h3 {
      writing-mode: vertical-rl;
      text-orientation: upright;
      border-bottom: 3px solid white;
      padding-bottom: 0.5em;
    }
  }
  &-21 {
    grid-column: 25 / 37;
    grid-row: 36 / 46;
  }
  &-22 {
    grid-column: 25 / 37;
    grid-row: 46 / 55;
  }
  &-23 {
    grid-column: 37 / 49;
    grid-row: 46 / 55;
  }
  &-24 {
    border-right: none;
    border-bottom: none;
    grid-column: 49 / 61;
    grid-row: 46 / 61;
  }
  &-25 {
    border-left: none;
    border-bottom: none;
    grid-column: 1 / 15;
    grid-row: 51 / 61;
  }
  &-26 {
    border-bottom: none;
    color: $white;
    background-color: $black;
    grid-column: 15 / 37;
    grid-row: 55 / 61;
  }
  &-27 {
    border-bottom: none;
    grid-column: 37 / 49;
    grid-row: 55 / 61;
  }
}
